div.container {
    border: solid violet;
}

img {
    height: 200px;
}
.my_class-color-img {
    background-color: #1abc9c;
    color: white;
}

ul {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
}

div.my_class-color-header {
    background-color: #2c3e50;
}

div.my_class-background-color {
    background-color: #3a546d;
    color:white
}

div.my_class-background-color-footer {
    background-color: #2c3e50;
}

.my_class-text {
    font-size: .7rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

span.my_class-color-span {
    color: #1abc9c;
}

button.my_class-button {
    border-radius: .3rem;
    text-decoration: none;
    color: white;
    background-color: #1abc9c;
}

button.my_class-button-send {
    background-color: #1abc9c;
    color: white;
    border-radius: .3rem;
}